.label {
    -fx-background-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    -fx-border-color: linear-gradient(to right, #a6c0fe 0%, #f68084 100%);
    -fx-border-width: 2px;

    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;

    -fx-padding: 6px 10px 6px 10px;

}


.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);

    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}


