.root {
    main-color: rgb(223, 246, 255);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/User.png");
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: white;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: rgb(173, 190, 207);
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: rgb(67, 102, 137);
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: rgb(119, 152, 185);
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #d7dfe4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}